
<div class="comment-content">
    <p class="comment-content-name">{{UserName}}</p>
    <p class="comment-content-article">{{commentInfo}}</p>
    <p class="comment-content-footer">
        <span class="comment-content-footer-tag">{{tag}}</span>
        <span class="comment-content-footer-timestamp">{{commentdate}}</span>
    </p>
</div>
<div class="cls"></div>
         