<div id = "Filter">

    <div class = "Conditions">
        <div class="Condition-title">Parking Fee:</div>
        <ul class="Condition-list">
            <li class="Subcondition Subcondition--active">No</li>
            <li class="Subcondition">Yes</li>
        </ul>
    </div>

    <div class = "Conditions">
        <div class="Condition-title">Car Type:</div>
        <ul class="Condition-list">
            <li class="Subcondition">Small</li>
            <li class="Subcondition">Medium</li>
            <li class="Subcondition">Large</li>
        </ul>
    </div>

    <div class = "Conditions">
        <div class="Condition-title">Disabled Facilities:</div>
        <ul class="Condition-list">
            <li class="Subcondition">No</li>
            <li class="Subcondition">Yes</li>
        </ul>
    </div>

</div>
