<div class="myCarItem">
    <div class="myCarItemText">
        <p>{{error}}</p>
        {{this.carName}}
        {{!-- <button hidden class="removecarBtn" data-carname="{{this.carName}}" data-userid={{this.userId}}>Delete</button> --}}
    </div>
    <hr style="width:40%;margin-block-start:2px;margin-block-end:2px;" , size="1" , color=white>
</div>