<div class="commentBox">
    <div class="commentTextBox"></div>
        <div class="commentBoxLine1"> {{commentInfo}}</div>
        <div class="commentBoxLine2">
            <button class="commentBoxCancelBtn" data-commentid="{{_id}}">Delete</button>
        </div>
    </div>
</div>