/* 顶部 */

.top {
    height: 100px;
}

.context1 {
    height: 70px;
    margin: auto;
    background-color: rgb(215, 238, 230);
}

.what {
    font-family: OPPOSans;
    color: rgb(123, 117, 117, 1);
    height: 50px;
    margin-top: 15px;
    margin-left: 280px;
    float: left;
    font-weight: 500;
    font-size: 36px;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 40px;
    text-decoration: none;
}

.mulu>li {
    border: 1px solid #6e6767;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    padding-top: 2px;
    margin-top: 10px;
    margin-left: 120px;
    font-size: 20px;
    ;
}

.dh {
    margin-left: 300px;
}

.dh>button {
    font-family: OPPOSans;
    background-color: rgb(215, 238, 230);
    border: 8px solid rgb(215, 238, 230);
    border-radius: 50px;
    border-style: outset;
    width: 120px;
    height: 40px;
    margin-left: auto;
    font-size: 15px;
}


/* 中部欢迎 */

.welcom {
    font-family: ZKKuaiLeTi;
    font-weight: 400;
    color: #ce841d;
    font-style: normal;
    letter-spacing: 0px;
    text-decoration: none;
    width: 700px;
    height: 50px;
    float: inline-start;
    margin-left: 350px;
    font-size: 30px;
    letter-spacing: 1px;
}


/* 轮播图 */

.wrap {
    background-color: rgb(215, 238, 230);
    display: none;
    width: 750px;
    height: 600px;
    margin-left: 360px;
    overflow: hidden;
    position: relative;
}

.wrap ul {
    list-style: none;
    position: absolute;
}

.wrap ul li {
    height: 550px;
    position: absolute;
}

.wrap ol {
    list-style: none;
    position: absolute;
    right: 5px;
    bottom: 10px;
}

.wrap ol li {
    height: 20px;
    width: 20px;
    background-color: rgb(215, 238, 230);
    border: 1px solid #666;
    margin-left: 5px;
    color: #000;
    float: left;
    line-height: 20px;
    text-align: left;
    cursor: pointer;
}

.wrap ol .on {
    background-color: #956795;
    color: #fff;
}


/* 底部导航栏 */

.end {
    background-color: #DCDCDC;
    margin-top: 20px;
    height: 30px;
}

.endd {
    height: 30px;
    width: 1200px;
    color: #616161;
    font-size: 20px;
    margin-left: 800px;
}


/* 导航样式 */

.navbar ul {
    display: flex;
}

.navbar ul li {
    font-weight: bold;
    width: 128px;
    list-style: none;
    text-align: center;
}

.navbar ul li a {
    width: 128px;
    line-height: 45px;
    font-size: 20px;
    color: #6e6767;
}

.navbar ul li a:hover {
    color: #956795;
}


/* 二级菜单样式 */

.navbar ul li ul {
    position: absolute;
    display: none;
    width: 128px;
    line-height: 45px;
}

.navbar ul li ul li {
    background-color: rgb(215, 238, 230);
}


/* 悬浮展开二级菜单 */

.navbar ul li ul li a:hover {
    color: #b8b1b1;
}

.navbar ul li ul li:hover {
    background-color: #515151;
}

.navbar ul li:hover ul {
    display: block;
}

.our {
    background-color: rgb(215, 238, 230);
    color: #515151;
}

.image {
    width: 25x;
    height: 25px;
}


/* 加入样式 */

.show1 {
    width: 750px;
    height: 600px;
    margin-left: 360px;
    background-color: rgb(215, 238, 230);
}

.show3 {
    display: none;
    width: 750px;
    height: 600px;
    margin-left: 360px;
    background-color: rgb(215, 238, 230);
}