
<div class="parkLotAllComments">

    <div id = 'ParkLotId' hidden>{{ParkLotID}}</div>
    
    <div id="result" hidden>
    </div>

    <div id="error" hidden>
    </div>
    
    <div class="comment-list" id="commentList">
        {{#each commentsList}} {{> comment }} {{/each}}
    </div>
    
    <div>
        {{!-- action= "/comment/comment" method ="POST" --}}
        <form id = "addNewComment" class = "comment-form"  >    
            <span class "Comment-container">
                <label for = "comment-content">Comment content:</label>
                <textarea class="comment-send-input" id = "comment-content" name="comment" form="commentForm" cols="80" rows="10" placeholder="Your Comment"></textarea>
                <label for = "rating">rating:</label>
                <input type = "number" id = "rating" name = "rating" placeholder="add the rating" >



                <p><input type = "checkbox" name = "tag" value="Large Parking Space"/> Large Parking Space</p>
                <p><input type = "checkbox" name = "tag" value="Medium Parking Space"/> medium Parking Space</p>
                <p><input type = "checkbox" name = "tag" value="Small Parking Space"/> Small Parking Space</p>

                <p><input type = "checkbox" name = "tag" value="Large capacity"/> Large Capacity</p>
                <p><input type = "checkbox" name = "tag" value="Medium capacity"/> Medium Capacity</p>
                <p><input type = "checkbox" name = "tag" value="Small capacity"/> Small Capacity</p>

                <p><input type = "checkbox" name = "tag" value="Disability friendly"/> Disability friendly</p>
                <p><input type = "checkbox" name = "tag" value="Clean"/>Clean</p>
                <p><input type = "checkbox" name = "tag" value="Cheap"/> Cheap</p>

                <button type = "submit" name = "submit" class="btn">Submit</button>
            </span>
        </form>
    </div>
</div>