<div class="userMainBox">
    <div class="mainInfo">
        <div class="errorContainer">{{content}}</div>
        <div class="backToHomeDiv">
            <button onclick="window.location.href='/filter';" class="backToHomeBtn">Back to Home</button>
        </div>
    </div>
</div>