<div class="myCollection">

    <div id="showCollections">
        {{!-- Display existing parkingLots in my Collection --}}
        {{!-- Display empty collection if no parkingLot were added for this user --}}
    </div>

</div>