<div class="myParkingLots">
    {{!-- Show user added parking lots and can add new parking lot --}}
    {{!-- https://modao.cc/app/Vy1f8dN6r9jszj4dSrSRwx#screen=sl1rdy8iifynw3k --}}
    {{!-- 用户界面 - 我的停车位 --}}
    <div id="myArea">
        {{!-- View existing myParkingLots --}}
        {{!-- button to add new parking lot --}}
    </div>

</div>