h1 {
    text-align: center;
    color: #f9e8dc;
}

.userMainBox {
    background: #b2c6bd;
    padding: 16px;
    width: 70%;
    margin: 0 auto;
}

.userLogo {
    text-align: center;
}

.userOuterBox {
    background: #757575;
    padding: 16px;
    padding-bottom: 36px;
}

.collectionBox {
    padding: 1em;
    border: solid thin;
    margin: 1em;
    background: #f5fdfa;
    height: 150px;
}

.collectionBoxImage {
    float: left;
    padding: 8px;
}

.collectionRightTextBox {
    padding: 8px;
}

.collectionBoxLine1 {
    font-family: verdana;
    font-size: 2em;
    color: #9d8f8f;
}

.collectionBoxLine2 {
    font-size: 1em;
    color: #d99b69;
}

.collectionBoxLine3 {
    font-size: 5px;
    color: #d99b69;
}

.collectionBoxCancelBtn {
    border: 1em;
    font-size: 1em;
    color: #f9e8dc;
    background: #d79560;
    float: right;
    bottom: 0px;
}

.mainInfo {
    background: #b2c6bd;
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 16px;
    padding-top: 10px;
    padding-bottom: 100px;
}

.backToHomeBtn {
    border: 1em;
    font-size: 1em;
    color: #f9e8dc;
    background: #5a756a;
    position: absolute;
    bottom: 0;
    right: 0;
}

#emptycollectionBox {
    text-align: center;
    font-family: verdana;
    font-size: 2em;
    color: #9d8f8f;
    display: none;
}

#myArea {
    padding: 1em;
    border: solid thin;
    margin: 1em;
    background: #95bfad;
}

.myAreaItem {
    padding: 2px;
    padding-left: 1em;
    padding-right: 1em;
}

.myAreaItemText {
    text-align: center;
    color: #f5fdfa;
    font-weight: bold;
    padding-left: 20%;
    padding-right: 20%;
}

#addNewAreaBox {
    display: grid;
}

#addNewAreaButton {
    margin: auto;  
}

#detailPageMyCollection {
    text-align: center;
    padding: 1em;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 1em;
    margin-top: 6px;
    margin-bottom: 1px;
    color: #5a8c8a;
    background: #bbeae8;
}

#detailPageMyComments {
    text-align: center;
    padding: 1em;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 1em;
    margin-top: 6px;
    margin-bottom: 1px;
    color: #5a8c8a;
    background: #bbeae8;
}

#detailPageAddNewParkingLot {
    text-align: center;
    padding: 1em;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 1em;
    margin-top: 6px;
    margin-bottom: 1px;
    color: #5a8c8a;
    background: #bbeae8;
}