 
    <!-- 中部导航栏 -->
        <ul class="dh">
            <button onclick="btn1()">Instructions</button>
            <button onclick="btn2()">News</button>
            <button onclick="btn3()">About Us</button>
        </ul>

        <div class="show1" id="show1">
            <h3>UParker Function :</h3>
            <p>Our website is dedicated to providing users with a parking recommendation platform 
                suitable for users in designated areas. Users can use this platform to search the nearby 
                parking lot according to their preferences (such as charging standard, applicable models, 
                etc.), review the parking lot and write comments.
                In addition, users can also get more information about nearby parking lots on our website. 
                Users can also upload some parking lots that are not in the search list to update the parking 
                lot list.</p>
            <p>Our website designates for providing people who choose to drive with more effective 
                information about parking, to facilitate drivers and their families to park during travel, 
                reduce the energy and save time when people look for parking spaces aimlessly.</p>
        </div>

        <!-- 轮播图 -->
        <div class="wrap" id="wrap">
            <ul id="pic">
            <li><img src="/public/img/news1.JPG" alt=""></li>
            <li><img src="/public/img/news2.JPG" alt=""></li>
            <li><img src="/public/img/news3.JPG" alt=""></li>
            </ul>
            <ol id="list">
            <li class="on">1</li>
            <li>2</li>
            <li>3</li>
            </ol>
        </div>

        <div class="show3" id="show3">
            <h3>Team Members: </h3>
            <p>Xuanlin Guan</p>
            <p>ShanLeng</p>
            <p>Xinyi Liang</p>
            <p>Zihui Liu</p>
            <p>Yi Rong</p>
        </div>
