<head>
    <meta charset="utf-8">
    <title>Logout</title>
</head>

<body>
    <h1>logout</h1>
    <p>Successfully logged out</p>
    <a href="../../layouts/mainpage.handlebars">Go to home page</a>
</body>
